// // // // // // // // // //

.card {
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 510px;
    margin: 0 auto;

    border-radius: 5px;
    border-left: 5px solid var(--color-dark-cyan);
    background-color: var(--color-white);
    box-shadow: var(--shadow-main);

    padding: 32px 24px 24px 19px;

    &:not(:last-child) {
        margin-bottom: 40px;

        @media only screen and (min-width: 1000px) {
            margin-bottom: 24px;
        }
    }

    @media only screen and (min-width: 1000px) {
        max-width: revert;
        margin: revert;

        width: 100%;
        padding: 32px 40px 32px 35px;
        flex-direction: row;
        align-items: center;
    }
}

.logoBox {
    width: 48px;
    height: 48px;

    position: absolute;
    top: -24px;
    left: 19px;

    @media only screen and (min-width: 1000px) {
        position: revert;
        top: revert;
        left: revert;

        width: 88px;
        height: 88px;
        margin-right: 24px;
        flex-shrink: 0;
    }
}

.logo {
    width: 100%;
    height: 100%;
}

// // // // // // // // // //

.contentBox {
    @media only screen and (min-width: 1000px) {
        width: 300px;
    }
}

// // // // // // // // // //

.companyBox {
    display: flex;
    align-items: center;
    margin-bottom: 9px;

    @media only screen and (min-width: 1000px) {
        margin-bottom: 10px;
    }
}

.company {
    color: var(--color-dark-cyan);
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
    margin-right: 33px;

    @media only screen and (min-width: 1000px) {
        font-size: 18px;
        line-height: 17px;
        margin-right: 15px;
    }
}

.new {
    background-color: var(--color-dark-cyan);

    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.107692px;
    text-transform: uppercase;

    border-radius: 50px;
    padding: 6.5px 8px 3.5px 8px;
    margin-right: 8px;
}

.featured {
    background-color: var(--color-dark-gray-cyan);

    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.107692px;
    text-transform: uppercase;

    padding: 6.5px 8px 3.5px 8px;
    border-radius: 50px;
}

// // // // // // // // // //

.position {
    color: var(--color-dark-gray-cyan);
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;

    margin-bottom: 8px;
    width: fit-content;

    cursor: pointer;
    transition: color 0.15s;

    &:hover {
        color: var(--color-dark-cyan);
    }

    @media only screen and (min-width: 1000px) {
        font-size: 22px;
        margin-bottom: 7px;
    }
}

// // // // // // // // // //

.detailsBox {
    display: flex;
    max-width: 450px;
    border-bottom: 1px solid var(--color-gray-cyan-border);
    padding-bottom: 15px;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.123077px;
    color: var(--color-gray-cyan);

    @media only screen and (min-width: 1000px) {
        max-width: revert;
        border-bottom: none;
        padding: 0;
        margin: 0;

        font-size: 18px;
        letter-spacing: -0.138462px;
    }
}

.postedAt {
    margin-right: 23.5px;

    @media only screen and (min-width: 1000px) {
        margin-right: 41px;
    }
}

.contract {
    margin-right: 21.5px;

    @media only screen and (min-width: 1000px) {
        margin-right: 41px;
    }
}

.postedAt,
.contract {
    position: relative;

    &::after {
        content: '';
        width: 4px;
        height: 4px;
        background-color: var(--color-gray-cyan-border);
        border-radius: 50%;

        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        right: -13px;

        @media only screen and (min-width: 1000px) {
            right: -20px;
        }
    }
}

// .location {}

// // // // // // // // // //

.tagsBox {
    @media only screen and (min-width: 1000px) {
        margin-left: auto;
    }
}

.tagsUl {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    list-style: none;

    @media only screen and (min-width: 1000px) {
        flex-wrap: nowrap;
    }
}

.tag {
    color: var(--color-dark-cyan);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.123077px;

    &:not(:last-child) {
        margin-right: 16px;
    }

    background-color: var(--color-dark-cyan-01);
    border-radius: 4px;
    padding: 6px 9px 2px 9px;

    cursor: pointer;
    transition: color 0.15s, background-color 0.15s;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-dark-cyan);
    }
}

// // // // // // // // // //
