:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-dark-cyan: hsl(180, 29%, 50%);
    --color-dark-cyan-01: hsla(180, 29%, 50%, 0.1);
    --color-gray-cyan-bg: hsl(180, 52%, 96%);
    --color-gray-cyan-filter: hsl(180, 31%, 95%);
    --color-gray-cyan: hsl(180, 8%, 52%);
    --color-gray-cyan-border: hsla(180, 10%, 74%, 1);
    --color-dark-gray-cyan: hsl(180, 14%, 20%);

    --shadow-main: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--color-gray-cyan-bg);
    padding-bottom: 34px;

    @media only screen and (min-width: 1000px) {
        padding-bottom: 120px;
    }
}

.header {
    height: 156px;
    background-color: var(--color-dark-cyan);
}

.header__img {
    width: 100%;
    height: 100%;
}

.section {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 24px;
}
